*{
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

#h2{
    text-align: center;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    border: 5px solid black;
}

.buttons{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 500px){
       .buttons{
           display: block;
           text-align: center;
       }
       
       
}

.btn{
    padding: 10px;
    border-radius: 2px;
    height: 50px;
    border-color: rgb(20, 20, 20);
    background-color: white;
    color: black;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(20, 20, 20);
    color: white;
}

.arr{
    height: 20px;
    width: 2px;
    margin: 3px;
    border-radius: 3px;
    background-image: linear-gradient(to right,rgb(255, 255, 255), rgb(183, 255, 183), green);
    text-align: center;
}

.arraydisplay{
    background: rgb(20, 20, 20);
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
}

.descriptions{
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

.dec-heading{
    margin: 10px;
    padding: 10px;
}

.disabled{
    border-color: rgb(76, 76, 76);
    color:rgb(76, 76, 76);
    background-color: white;
    cursor: default;
}

.disabled:hover{
    border-color: rgb(76, 76, 76);
    background-color: white;
    color:rgb(76, 76, 76);
}