*{
    margin: 0;
    padding: 0;
}

.btn{
    padding: 10px;
    border-radius: 5px;
    width: 100px;
}

.arr{
    height: 20px;
    width: 2px;
    margin: 2px;
    border-radius: 3px;
    background-image: linear-gradient(to right,rgb(255, 255, 255), rgb(183, 255, 183), green);
    text-align: center;
}





.arraydisplay{
    background: rgb(20, 20, 20);
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
}